* {
   margin: 0px;
   padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p, ol, ul, li, footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1     { font: bold 36px Georgia; }
h2     { font: bold 36px Georgia; } 
h3     { font: bold 24px Georgia; }
h4     { font: bold 18px Georgia; }
h5, li { font: bold 16px Georgia; }
h6     { font: bold 14px Georgia; }
   
   header, nav, section, article, aside, footer, hgroup {
   display: block;
}

.container {
  width: 1600px;
  height: 720px;
  background: white;

}

.top_header img {
  height: 80px;
  width: 100%;
  margin: 20px 5px 0px 5px;
  background-color: #4aaaa5;
}

#my_name { 
  float: left;
  display: inline;
  height: 40px;
  width: 280px;
  color: white;
  font: bold 36px Georgia; 
  background-color: #4aaaa5;
  margin: 20px 340px 0px 115px;
  padding: 20px 20px 20px 45px;
}

#top_menu {

}

#top_menu li{
  float: left;
  display: inline;
  font-style: none;
  list-style: none;
  height: 20px;
  width: 80px;
  color: darkgray;
  font: 18px Arial; 
  background-color: white;
  margin: 20px 0px 20px 20px;
  padding: 20px 0px 20px 0px;
}

li a {
  color: darkgray;
}

#main_box {
  clear: both;
  overflow: auto;
  background-image: url(sos.png);
  background-repeat: repeat-x repeat-y;
  width: 1250px;
  height: 640px;
  display: inline-block;

  float: left;
  color: black;
  margin: 0px 10px 0px 5px;
  padding: 30px 10px 10px 10px;
}

#gallery_box {
  clear: both;
  overflow: auto;
  float: left;
  background-image: url(sos.png);
  background-repeat: repeat-x repeat-y;
  width: 1250px;
  height: 800px;
  display: inline;
  text-align: left;
  margin: 0px 10px 0px 5px;
  padding: 30px 10px 10px 10px;
}

#gallery_display {
  float: left;
  width: 970px;
  height: 620px;
  display: inline;
  text-align: left;
  color: black;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#info_box {
  background-color: white;
  display: inline-block;
  padding: 30px 0;
  overflow: auto;

  width: 650px;
	float: left;
  border: 1px solid #ddd;
  color: black;
	margin: 0px 0px 0px 100px;
	padding: 10px 0px 10px 10px;
}

#info_name {
  font: bold 36px Georgia;
  color:#4aaaa5;
  margin: 0px 0px 10px 25px;
  padding: 10px 0px 10px 10px;
}

.sidebar {
  float: left;
  display: inline-block;
  list-style: none;
  font-style: none;
  height: 100px;
  width: 270px;
  border: 1px solid #ddd;
  color: darkgray;
  font: 18px Arial; 
  background-color: white;
  margin: 0px 0px 20px 30px;
  padding: 40px 0px 20px 20px;
}

form {
  width: 95%;
  height: 500px;
  margin: 10px 0px 10px 10px;
  padding: 10px 0px 10px 10px;
  font: 18px Arial; 
  color: darkgray;
}

input, textarea {
  font: 16px Arial;
  color: #ddd;
  width: 85%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;
  height: 200px;
}

button {
  height: 40px;
  width: 100px;
  color: white;
  font: 18px Arial; 
  background-color: #4aaaa5;
  text-align: center;
  border: none;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

#the_footer {
   clear: both;
   height: 40px;
   width: 1260px;
   text-align: center;
   text-decoration: bold;
   color: #4aaaa5;
   background-color: #666666;
   margin: -20px 0px 0px 5px;
   padding: 30px 10px 10px 0px;
   border-top: 8px solid #4aaaa5;
}

img.scaled:hover {
   -webkit-transform : scale(2);
   -transform : scale(2);
}
img.rotated:hover {
   -webkit-transform : rotate(90deg);
   -transform : rotate(90deg);
}
img.skewed:hover {
   -webkit-transform : skew(320deg, 0deg);
}